<!doctype html>

<html>
<head>

	<title>CS181W - Japanese Computer Ethics</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/custom.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	<div class="container">
		<div class="jumbotron">
			<h1>Abstract and Annotated Bibliography</h1>
			<p>Chaely Kanichy &middot; Krista Fryauff &middot; Maxwell Pincus &middot; Olivia Montoya</p>
			<!-- Background Image Src: http://commons.wikimedia.org/wiki/File:Japanese_flag_in_the_blue_sky.jpg -->
		</div>

			<h5>Abstract</h5>
			<p>
				This final project will focus on exploring computing ethics in Japan. Japanese ethics are highly influenced by Buddhism, Shintoism, and Confucianism, including business ethics. Thus computing ethics are necessarily entangled with religious thought. As with many Asian cultures, Japanese society is collectivist, focusing on the needs and rights of the group over those of the individual. Duty to one’s groups is an important ethical concept, as is “fairness.” This is relevant to business as it concerns the relationships between employees and the business hierarchy, as well as what actions are taken and when. Vital to the project will be an exploration of the Japanese Internet and government attitudes toward regulation. In general, the Japanese Internet considered “free,” following laws allowing freedom of the press and of speech, though there is a law instructing internet service providers to self-regulate and take down objectionable content from their servers. “Objectionable content” includes illegal material, defamation, violations of privacy, and intellectual property infringement. Internet access is not restricted to anyone and there is currently no evidence of the Japanese government monitoring its citizens’ activities on the internet. This project will explore this system and make connections to Japanese ethics. Overall, the project will focus in particular on the effects of religious thought and collectivist society on Japanese computing ethics, as well as outline the ethics particular to the Japanese business world, Japanese intellectual property law, Japanese perspectives on privacy and data collection, and the interaction of Japanese ethics and other ethical systems in international business. 
			</p>
			
			<br>

			<h5>Annotated Bibliography</h5>
			<div class="">
				<strong id="docs-internal-guid-4ad402ef-200e-099a-3119-4bb4b2a8e4c1"><br>
				</strong>
				<ol>
					<li dir="ltr">
						<p dir="ltr"><strong>Freedom on the Net 2013: Japan. (2013). <a href="https://freedomhouse.org/sites/default/files/resources/FOTN%202013_Japan.pdf">https://freedomhouse.org/sites/default/files/resources/FOTN%202013_Japan.pdf</a></strong></p>
					Internet and digital media freedom are generally well established in Japan, where the constitution protects all forms of speech and prohibits censorship. Given this broad lack of restrictions, this article explores some legislation disproportionately penalizing specific online activities.		</li>
					<li dir="ltr">
						<p dir="ltr"><strong>M. Fitzpatrick. (2008). ...while Japanese face web censorship. The Guardian. <a href="http://www.theguardian.com/technology/2008/jan/03/censorship.japan">http://www.theguardian.com/technology/2008/jan/03/censorship.japan</a></strong></p>
					Fitzpatrick addresses the new bill regulating the internet in 2010 that entails the need for an active effort from the government to individually make judgements regarding concrete harmfulness.		</li>
					<li dir="ltr">
						<p dir="ltr"><strong>E. Yoshinori. Internet Ethics Issues and Action in Japan. <a href="http://www.janl.net/Japan-profEzawa-yoshinori-text.pdf">http://www.janl.net/Japan-profEzawa-yoshinori-text.pdf</a></strong></p>
						<p dir="ltr">Along with a well organized historical of the introduction of internet in Japan, the author suggests that Buddhism is not simply a religion but a foundation for new cultural values. Buddhism was considered in Japan as little more than a means to various ends, these ends being bother administrative and technological. </p>
						</li>
					<li dir="ltr">
						<p dir="ltr"><strong>Japan Information Service Industry Association. Japan Information Service Industry Association (JISA): Code of Ethics and Professional Conduct. <a href="http://courses.cs.vt.edu/professionalism/WorldCodes/Japan.Code.html">http://courses.cs.vt.edu/professionalism/WorldCodes/Japan.Code.html</a></strong></p>
					All member companies of JISA agree to comply with the code of ethics reproduced here. The code emphasizes duty to one&rsquo;s region and to society, as well as individual employees&rsquo; duty to the company.		</li>
				</ol>
				<ol start="5">
					<li dir="ltr">
						<p dir="ltr"><strong>T. Nagao and K. Murata. Finding the Foundation of Professional Ethics in Japan: A Sociocultural Perspective. <a href="http://www.kisc.meiji.ac.jp/~ethicj/Nagao.pdf">http://www.kisc.meiji.ac.jp/~ethicj/Nagao.pdf</a></strong></p>
						<p dir="ltr">This paper discusses the ways how current understandings of business ethics in Japan are still developing for the information and communications technology sector, and offers solutions from traditional Japanese ethics. The paper discusses the history of Japanese ethics and its relationship with Confucianism, Buddhism, and Shintoism.</p>
					</li>
				</ol>
				<ol start="6">
					<li dir="ltr">
						<p dir="ltr"><strong>Japan Patent Office. System of Industrial Property Rights. <a href="http://www.jpo.go.jp/seido_e/s_gaiyou_e/4houe.htm">http://www.jpo.go.jp/seido_e/s_gaiyou_e/4houe.htm</a></strong></p>
					This article on the official English language website of the Japan Patent Office is an overview of intellectual property law in Japan. It briefly describes the purpose of intellectual property law in Japan and describes the systems for patents, designs, and trademarks.		</li>
				</ol>
				<ol start="7">
					<li dir="ltr">
						<p dir="ltr"><strong>World Intellectual Property Organization. Japan. <a href="http://www.wipo.int/wipolex/en/profile.jsp?code=JP">http://www.wipo.int/wipolex/en/profile.jsp?code=JP</a></strong></p>
					This website contains the full text of Japanese laws regarding Intellectual Property, including copyrights, trademarks, patents, and designs.		</li>
				</ol>
				<ol start="8">
					<li dir="ltr">
						<p dir="ltr"><strong>I. Taka. Business Ethics: A Japanese Perspective. <a href="http://www.jstor.org/stable/pdfplus/3857559.pdf">http://www.jstor.org/stable/pdfplus/3857559.pdf</a></strong></p>
					Taka gives an overview of the Japanese perspective on business ethics. &ldquo;Fairness,&rdquo; &ldquo;social responsibility,&rdquo; and the &ldquo;spirit&rdquo; of individuals and groups are important concepts, as well as a framework of &ldquo;concentric circles&rdquo; that define the hierarchy of an individual or group&rsquo;s duties. He also discusses the influence of Japanese religion on business ethics.		</li>
				</ol>
				<ol start="9">
					<li dir="ltr">
						<p dir="ltr"><strong>T. Dunfee and Y. Nagayasu. Business Ethics: Japan and the Global Economy. Book. <a href="http://searchworks.stanford.edu/view/2787715">http://searchworks.stanford.edu/view/2787715</a></strong></p>
						<p dir="ltr">Primarily Asian scholars discuss business ethics in Japan in a variety of essays. Relevant essays include those on ethics and corporate strategy, market morality, nationalism and its influence on Japanese business ethics, religion and business ethics, and international business from a Japanese perspective.</p>
					</li>
				</ol>
				<ol start="10">
					<li dir="ltr">
						<p dir="ltr"><strong>B. De Mente. Japanese Etiquette &amp; Ethics in Business. Book. <a href="http://searchworks.stanford.edu/view/10046618">http://searchworks.stanford.edu/view/10046618</a></strong></p>
						<p dir="ltr">This book looks at Japanese business ethics and etiquette from the perspective of a Westerner. Its intent is practical, but it includes useful information comparing and contrasting Western and Japanese business ethics, factors contributing to Japan&rsquo;s economic success, and the structure of Japanese business interactions.</p>
					</li>
				</ol>
				<ol start="11">
					<li dir="ltr">
						<p dir="ltr"><strong>W. Nakayama. The Japanese Electronics Industry. Book. <a href="http://searchworks.stanford.edu/view/4283501">http://searchworks.stanford.edu/view/4283501</a></strong></p>
						<p dir="ltr">This book is a general overview of the Japanese electronics industry, including its history and ethics, with a focus on analyzing it to determine the source of its success.</p>
					</li>
				</ol>
				<ol start="12">
					<li dir="ltr">
						<p dir="ltr"><strong>D. Macer. Computing Ethics: Intercultural Comparisons. <a href="http://www.eubios.info/Papers/DMCOMPE.pdf">http://www.eubios.info/Papers/DMCOMPE.pdf</a></strong></p>
						<p dir="ltr">This paper compares attitudes on computing and technology in Thailand and Japan and how these have changed over time. It also discusses the role of government pressure on citizens to innovate in these fields and ethical issues raised in these nations by the rise of computers.</p>
					</li>
				</ol>
				<ol start="13">
					<li dir="ltr">
						<p dir="ltr"><strong>J. Dehner. Global Privacy - Japan Sets its Rules for Personal Data. <a href="http://www.frostbrowntodd.com/resources-524.html">http://www.frostbrowntodd.com/resources-524.html</a></strong></p>
						<p dir="ltr">This article discusses Japan&rsquo;s 2005 Privacy Law governing the protection of personal data. It compares it to privacy laws in the EU and US and points out where it may have flaws. Overall, the new law is stricter than privacy laws in many Western countries.</p>
					</li>
				</ol>
				<ol start="14">
					<li dir="ltr">
						<p dir="ltr"><strong>M. Takahashi. Personal Information Protection Law in Japan. <a href="http://www.jonesday.com/personal-information-protection-law-in-japan-11-09-2005/">http://www.jonesday.com/personal-information-protection-law-in-japan-11-09-2005/</a></strong></p>
						<p dir="ltr">This articles is a detailed overview of Japan&rsquo;s Personal Information Protection Act and provides guidelines for companies and individuals subject to it.</p>
					</li>
				</ol>
				<ol start="15">
					<li dir="ltr">
						<p dir="ltr"><strong>Y. Humber and G. Reidy. Japan Takes its First Step to Fight Hackers. <a href="http://www.businessweek.com/articles/2014-07-24/proposed-law-would-fix-japans-lax-cybersecurity">http://www.businessweek.com/articles/2014-07-24/proposed-law-would-fix-japans-lax-cybersecurity</a></strong></p>
						<p dir="ltr">This news article discusses the Japanese government&rsquo;s intent to pass a law to combat rampant hacking targeting Japanese tech companies. It discusses how the country&rsquo;s cybersecurity is lax and what may be done to improve this.</p>
					</li>
				</ol>
				<ol start="16">
					<li dir="ltr">
						<p dir="ltr"><strong>Y. Orito and K. Murata. Privacy Protection in Japan: Cultural Influence on the Universal Value. <a href="http://www.kisc.meiji.ac.jp/~ethicj/Privacy%20protection%20in%20Japan.pdf">http://www.kisc.meiji.ac.jp/~ethicj/Privacy%20protection%20in%20Japan.pdf</a></strong></p>
					This article discusses the Japanese view on the right to privacy of individuals and compares it with Western views. It suggests that the relative lack of concern for individual privacy is the reason the 2005 privacy law took as long as it did to enact. It also discusses how opinions on privacy are likely to affect compliance with this law.		</li>
				</ol>
				<ol start="17">
					<li dir="ltr">
						<p dir="ltr"><strong>Japanese Law Translation. (2009). Japanese Law Translation Database. Act on the Protection of Personal Information: Act No. 57 of 2003.  <a href="http://www.japaneselawtranslation.go.jp/law/detail/?id=130&vm=04&re=02">http://www.japaneselawtranslation.go.jp/law/detail/?id=130&vm=04&re=02</a></strong>
						</p>
					</li>
					<li dir="ltr">
						<p dir="ltr"><strong>Japan Patent Office. Japan Patent Office. System of Industrial Property Rights. <a href="http://www.jpo.go.jp/seido_e/s_gaiyou_e/4houe.htm
						">http://www.jpo.go.jp/seido_e/s_gaiyou_e/4houe.htm
						</a></strong>
						</p>
					</li>
				</ol>


			</div>


	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/custom.js"></script>

</body>
</html>
