body, .container {
     height: 100%;
}

/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

.jumbotron {
	position: relative;
	background: none;
}

.jumbotron:after {
     content:"";
     background: url("../images/jp_jumbotron.jpg");
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
     border-bottom-right-radius: 10px;
     border-bottom-left-radius: 10px;
}

.jumbotron p {
     color: #6e6e6e;
}

.project a {
     text-align: center;
}

.project .thumbnail:hover{
     background-color: #DAD7CB;
}

.project .details {
     overflow: hidden;
}

.project .details .detailsImage {
     width: 200px;
     margin: 10px 10px 10px 0px;
     float: left;
}

.project-content {
     width: 100%;
     padding: 0px 0px 200px 0px;
}

.menu-container {
     text-align: center;
     height: auto;
     width: inherit;
     bottom: 0px;
     position: fixed;

     background-color: #DAD7CB;
     border-radius: 5px;

     margin-top: 10px;
}

.bottom-menu {
     position: relative;
     bottom: 2px;
     width: inherit;
     height: auto;
     overflow: hidden;
     text-align: center;
     padding: 5px;
}

.bottom-menu .menuitem {
     text-align: center;
     width: 24%;
     float: left;
     margin: 0 .5%;
     overflow: hidden;
}

.row .thumbnail h4 {
     text-align: left;
}

.likeCtr {
     text-align: center;
}